body, div, a {
    padding:0;
    margin:0;
    font-family:"Trebuchet MS", Arial, Helvetica, sans-serif;
}

#calculator {
	background-color: #fff;
	width: 270px;
	height: 400px;
	border: 3px black solid;
	margin: 10px auto;
	padding: 5px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
	border-radius: 10px;
}

#total {
    height: 70px;
    width: 250px;
    margin:0 auto;
    background-color: #fff;
    margin-bottom: 15px;
    text-align: right;
    font-size: 60px;
    padding: 0px 5px;
}

#operators a {
	width: 45px;
	height: 45px;
	font-size: 39px;
	padding: 2px;
	margin: auto;
}

#numbers a {
	width: 50px;
	height: 50px;
	font-size: 32px;
	/*padding: 10px;*/
	margin: 15px;
}


#numbers, #operators {
	margin: 5px 5px;	
}

.btn-round {
    width: 42px;
    height: 42px;
    background: #578cf7;
    border-radius: 50%;
    font-size: 20px;
    text-align: center;
    color: #fff;


}

.equalsign {
	width: 100px;
	height: 30px;
	
	margin-top: 15px;
	background: #11b948;
	/*margin: auto; */
}

#headingfont {
	font-family: 'Pattaya', sans-serif;
}



/*#calculator a {
	display: block;
    float: left;
    cursor: pointer;
    text-decoration: none;
    text-align: center;
    background: -moz-linear-gradient(top, #EDEDED, #DCDCDC);
    background: -webkit-gradient(linear, left top, left bottom, from(#EDEDED), to(#DCDCDC));
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#EDEDED', endColorstr='#DCDCDC');
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;
	-khtml-border-radius: 10px;
    border-radius: 10px;
    color: black;
}

#numbers, #operators {
	margin: auto;	
}


#numbers a {
	width: 50px;
	height: 50px;
	font-size: 32px;
	padding: 10px;
	margin: 5px 15px;
}

*/